/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
  &:before,
  &:after {
    content: '';
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
-----------------------
FUNCTIONS
-----------------------
*/
@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@mixin background($color) {
  @if $color == 'dark' {
    background: $black;
    h1,
    h2,
    a:hover,
    th,
    .highlited {
      color: $white;
    }
    button {
      background: $white;
      color: $black;
    }
  } @else {
    background: $white;
    h1,
    h2,
    a:hover,
    th,
    .highlited {
      color: $black;
    }
    button {
      background: $black;
      color: $white;
    }
  }
}

/*
-----------------------
CUSTOM
-----------------------
*/

$black: #111;
$white: #fff;
$gray: #707070;

html {
  @include fluid-type(font-size, 400px, 900px, 15px, 18px);
  //font-size: 16px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  color: $gray;
  background: $black;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}
p {
  line-height: 1.6;
  font-size: 1rem;
  margin: 0.2rem 0;
}
ul {
  list-style: circle;
  li {
    line-height: 1.8;
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s all ease-in-out;
  &:hover {
    text-decoration: none;
    color: #414141;
    transition: 0.2s all ease-in-out;
  }
}
strong,
b {
  font-weight: 700;
}
small,
label {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-text-size-adjust: none;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
/*
-----------------------
CLASSES
-----------------------
*/

.shadow {
  -webkit-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
}
.fullheight {
  height: 100vh;
}
.fullwidth {
  width: 100%;
}
.highlited {
  font-weight: 600;
}
.text {
  &.right {
    text-align: right;
  }
  &.left {
    text-align: left;
  }
  &.center {
    text-align: center;
  }
}

/*
-----------------------
FLEX
-----------------------
*/
.flex {
  display: flex;

  &.horizontal-center {
    justify-content: center;
  }
  &.vertical-center {
    align-items: center;
    align-content: center;
  }
}

/*
-----------------------
TABLE
-----------------------
*/
table {
  font-size: 0.9rem;
  width: 100%;
  display: block;

  thead {
    tr {
      th {
        font-weight: 600;
        vertical-align: center;
        text-align: left;
        padding: 1.1rem 1.5rem;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #f7f7f7;
      }
      td {
        vertical-align: center;
        padding: 1.1rem 1.5rem;

        &.date {
          min-width: 80px;
        }
        &.subject {
          min-width: 80px;
        }
        &.registered {
          min-width: 80px;
        }
        &.approved {
          min-width: 40px;
        }
        &.reason {
          min-width: 200px;
        }
      }
    }
  }
}

/*
-----------------------
FORMS
-----------------------
*/
form {
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    -webkit-appearance: none;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    margin-bottom: 15px;
    display: block;
    background-color: rgb(245, 245, 245);
    padding: 13px 20px;
    box-sizing: border-box;
    width: 100%;
    border: 3px solid rgb(245, 245, 245);
    transition: ease-in-out 0.2s all;
    border-radius: 2px;
    &:invalid {
      border: 3px solid rgb(245, 245, 245);
      outline: none;
      box-shadow: none;
    }
  }
  input[type='checkbox'] {
    margin-bottom: 15px;
    margin-right: 10px;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
    color: #717171;
    margin-bottom: 15px;
    display: block;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    border: 3px solid rgb(245, 245, 245);

    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    letter-spacing: 0.3px;
    font-weight: 300;

    padding: 13px 20px;
    width: 100%;

    background-image: url(../imgs/select-arrow.png);
    background-position: right;
    background-repeat: no-repeat;
    &::-ms-expand {
      display: none;
    }
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
    option {
      background: rgb(245, 245, 245);
    }
  }
  .lt-ie10 select {
    background-image: none;
  }

  textarea {
    border-radius: 2px;
    -webkit-appearance: none;
    border-radius: 0px;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    margin-bottom: 15px;
    background-color: rgb(245, 245, 245);
    resize: vertical;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    font-size: 0.7rem;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 20px;
    width: 100%;
    min-height: 100px;
    border: 3px solid rgb(245, 245, 245);
    transition: ease-in-out 0.2s all;
  }
  .flex {
    justify-content: space-between;
    flex-wrap: wrap;
    &:last-child {
      margin-right: 0;
    }
    > * {
      flex: 1;
      margin-right: 15px;
      flex-basis: 250px;
    }
  }
}
button {
  display: block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.6rem 1.4rem;
  border-radius: 1.1rem;
  max-height: 2.2rem;
}
/*
-----------------------
GRID
-----------------------
*/
@supports (display: grid) {
  .site {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: min-content auto min-content min-content;
    grid-template-areas:
      'main header'
      'main nav'
      'main aside'
      'footer aside';

    @media screen and (max-width: 900px) {
      grid-template-columns: auto;
      grid-template-rows: min-content min-content auto min-content min-content;
      grid-template-areas:
        'header'
        'nav'
        'main'
        'footer'
        'aside';
    }

    main {
      grid-area: main;
    }
    footer {
      grid-area: footer;
    }
    header {
      grid-area: header;
    }
    nav,
    #sidebar-content {
      grid-area: nav;
    }
    aside {
      grid-area: aside;
    }
  }
}

/*
-----------------------
MAIN
-----------------------
*/
main {
  @include background('light');
  padding: calc(35px + 0.5vw);
  display: block;
  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.9rem;
  }
  h2 {
    margin-top: 0.9rem;
  }
  p {
    -webkit-text-size-adjust: none;
  }
  .flex.headline {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;

    > * {
      margin-bottom: 0.4rem;
    }
  }
}

/*
-----------------------
FOOTER
-----------------------
*/
footer {
  @include background('light');
  padding: calc(35px + 0.5vw);
  font-size: 0.8rem;
}

/*
-----------------------
HEADER
-----------------------
*/
header {
  @include background('dark');
  padding: calc(25px + 0.5vw);
  img.logo {
    max-width: 100px;
    width: auto;
    max-height: 60px;
    height: auto;
    padding-right: 20px;
  }
}
/*
-----------------------
NAV
-----------------------
*/
nav {
  @include background('dark');
  padding: calc(25px + 0.5vw);
  padding-bottom: calc(25px + 0.5vw);
  ul {
    list-style: none;
    li {
      font-size: 1rem;
      line-height: 1.6;
      -webkit-text-size-adjust: none;
    }
  }
}

/*
-----------------------
LOGIN
-----------------------
*/
#login {
  @include background('dark');
  padding: calc(25px + 0.5vw);
  padding-bottom: calc(25px + 0.5vw);

  form {
    margin-top: 0.8rem;
    button {
      margin-top: 0.8em;
    }
  }
}
/*
-----------------------
ASIDE
-----------------------
*/
aside {
  @include background('dark');
  padding: calc(25px + 0.5vw);
  small {
    display: block;
  }
  big {
    display: block;
    font-size: 1.5rem;
    margin: 0.3rem 0;
    span.name {
      color: $white;
      font-weight: 700;
    }
  }
  button {
    margin-top: 0.8rem;
  }
}
