/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
-----------------------
FUNCTIONS
-----------------------
*/
/*
-----------------------
CUSTOM
-----------------------
*/
html {
  font-size: 15px;
}

@media (min-width: 400px) {
  html {
    font-size: calc(15px + 3 * (100vw - 400px) / 500);
  }
}

@media (min-width: 900px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  color: #707070;
  background: #111;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

p {
  line-height: 1.6;
  font-size: 1rem;
  margin: 0.2rem 0;
}

ul {
  list-style: circle;
}

ul li {
  line-height: 1.8;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #414141;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

strong,
b {
  font-weight: 700;
}

small,
label {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-text-size-adjust: none;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

/*
-----------------------
CLASSES
-----------------------
*/
.shadow {
  -webkit-box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.3);
}

.fullheight {
  height: 100vh;
}

.fullwidth {
  width: 100%;
}

.highlighted {
  font-weight: 600;
  color: #717171;
}

.text.right {
  text-align: right;
}

.text.left {
  text-align: left;
}

.text.center {
  text-align: center;
}

/*
-----------------------
FLEX
-----------------------
*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.horizontal-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex.vertical-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

/*
-----------------------
TABLE
-----------------------
*/
table {
  font-size: 0.9rem;
  width: 100%;
  display: block;
}

table thead tr th {
  font-weight: 600;
  vertical-align: center;
  text-align: left;
  padding: 1.1rem 1.5rem;
}

table tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}

table tbody tr td {
  vertical-align: center;
  padding: 1.1rem 1.5rem;
}

table tbody tr td.date {
  min-width: 80px;
}

table tbody tr td.subject {
  min-width: 80px;
}

table tbody tr td.registered {
  min-width: 80px;
}

table tbody tr td.approved {
  min-width: 40px;
}

table tbody tr td.reason {
  min-width: 200px;
}

/*
-----------------------
FORMS
-----------------------
*/
#login_error,
form input[type='text'],
form input[type='email'],
form input[type='password'] {
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  -webkit-appearance: none;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 15px;
  display: block;
  background-color: whitesmoke;
  padding: 13px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid whitesmoke;
  -webkit-transition: ease-in-out 0.2s all;
  -o-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
  border-radius: 2px;
}

form input[type='text']:invalid,
form input[type='email']:invalid,
form input[type='password']:invalid {
  border: 3px solid whitesmoke;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

form input[type='checkbox'] {
  margin-bottom: 15px;
  margin-right: 10px;
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
  color: #717171;
  margin-bottom: 15px;
  display: block;
  background-color: whitesmoke;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  font-weight: 300;
  padding: 13px 20px;
  width: 100%;
  /*background-image: url(../imgs/select-arrow.png);
  background-position: right;
  background-repeat: no-repeat;*/
}

form select::-ms-expand {
  display: none;
}

form select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

form select option {
  background: whitesmoke;
}

form .lt-ie10 select {
  background-image: none;
}

form textarea {
  border-radius: 2px;
  -webkit-appearance: none;
  border-radius: 0px;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 15px;
  background-color: whitesmoke;
  resize: vertical;
  overflow: hidden;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  padding: 15px 20px;
  width: 100%;
  min-height: 100px;
  border: 3px solid whitesmoke;
  -webkit-transition: ease-in-out 0.2s all;
  -o-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
}

form .flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

form .flex:last-child {
  margin-right: 0;
}

form .flex > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 15px;
  -ms-flex-preferred-size: 250px;
  flex-basis: 250px;
}

button {
  display: block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.6rem 1.4rem;
  border-radius: 1.1rem;
  max-height: 2.2rem;
}

/*
-----------------------
GRID
-----------------------
*/
@supports ((display: -ms-grid) or (display: grid)) {
  .site {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 400px;
    grid-template-columns: auto 400px;
    -ms-grid-rows: min-content auto min-content min-content;
    grid-template-rows: -webkit-min-content auto -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content auto min-content min-content;
    grid-template-areas: 'main header'
    'main nav'
    'main aside'
    'footer aside';
  }
  @media screen and (max-width: 900px) {
    .site {
      -ms-grid-columns: auto;
      grid-template-columns: auto;
      -ms-grid-rows: min-content min-content auto min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content auto -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content auto min-content min-content;
      grid-template-areas: 'header'
      'nav'
      'main'
      'footer'
      'aside';
    }
  }
  .site main {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: main;
  }
  .site footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  .site header {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
  }
  .site nav,
  .site #sidebar-content {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: nav;
  }
  .site aside {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: aside;
  }
}

/*
-----------------------
MAIN
-----------------------
*/
main {
  background: #fff;
  padding: calc(35px + 0.5vw);
  display: block;
}

main h1,
main h2,
main a:hover,
main th,
main .highlited {
  color: #111;
}

main button {
  background: #111;
  color: #fff;
}

main h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.9rem;
}

main h2 {
  margin-top: 0.9rem;
}

main p {
  -webkit-text-size-adjust: none;
}

main .flex.headline {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

main .flex.headline > * {
  margin-bottom: 0.4rem;
}

/*
-----------------------
FOOTER
-----------------------
*/
footer {
  background: #fff;
  padding: calc(35px + 0.5vw);
  font-size: 0.8rem;
}

footer h1,
footer h2,
footer a:hover,
footer th,
footer .highlited {
  color: #111;
}

footer button {
  background: #111;
  color: #fff;
}

/*
-----------------------
HEADER
-----------------------
*/
header {
  background: #111;
  padding: calc(25px + 0.5vw);
}

header h1,
header h2,
header a:hover,
header th,
header .highlited {
  color: #fff;
}

header button {
  background: #fff;
  color: #111;
}

header img.logo {
  max-width: 100px;
  width: auto;
  max-height: 60px;
  height: auto;
  padding-right: 20px;
}

/*
-----------------------
NAV
-----------------------
*/
nav {
  background: #111;
  padding: calc(25px + 0.5vw);
  padding-bottom: calc(25px + 0.5vw);
}

nav h1,
nav h2,
nav a:hover,
nav th,
nav .highlited {
  color: #fff;
}

nav button {
  background: #fff;
  color: #111;
}

nav ul {
  list-style: none;
}

nav ul li {
  font-size: 1rem;
  line-height: 1.6;
  -webkit-text-size-adjust: none;
}

/*
-----------------------
LOGIN
-----------------------
*/
#login {
  background: #111;
  padding: calc(25px + 0.5vw);
  padding-bottom: calc(25px + 0.5vw);
}

#login h1,
#login h2,
#login a:hover,
#login th,
#login .highlited {
  color: #fff;
}

#login button {
  background: #fff;
  color: #111;
}

#login form {
  margin-top: 0.8rem;
}

#login form button {
  margin-top: 0.8em;
}

/*
-----------------------
ASIDE
-----------------------
*/
aside {
  background: #111;
  padding: calc(25px + 0.5vw);
}

aside h1,
aside h2,
aside a:hover,
aside th,
aside .highlited {
  color: #fff;
}

aside button {
  background: #fff;
  color: #111;
}

aside small {
  display: block;
}

aside big {
  display: block;
  font-size: 1.5rem;
  margin: 0.3rem 0;
}

aside big span.name {
  color: #fff;
  font-weight: 700;
}

aside button {
  margin-top: 0.8rem;
}